<form>
  <div class="my-3"> <!--FB-->
    <label for="facebook" class="form-label">Enlace Red Social 1</label>
    <input type="text" class="form-control" id="facebook">
    <button type="button" class="btn btn-primary">Guardar</button>
    <button type="button" class="btn btn-danger">Cancelar</button>
  </div>
  <div class="my-3"> <!--IG-->
    <label for="instagram" class="form-label">Enlace Red Social 2</label>
    <input type="text" class="form-control" id="instagram">
    <button type="button" class="btn btn-primary">Guardar</button>
    <button type="button" class="btn btn-danger">Cancelar</button>
  </div>
  <div class="my-3"> <!--TWITTER-->
    <label for="twitter" class="form-label">Enlace Red Social 3</label>
    <input type="text" class="form-control" id="twitter">
    <button type="button" class="btn btn-primary">Guardar</button>
    <button type="button" class="btn btn-danger">Cancelar</button>
  </div>
  <div class="my-3"> <!--GitHub-->
    <label for="github" class="form-label">Enlace Red Social 4</label>
    <input type="text" class="form-control" id="github">
    <button type="button" class="btn btn-primary">Guardar</button>
    <button type="button" class="btn btn-danger">Cancelar</button>
  </div>
  <div class="my-3"> <!--Linkedin-->
    <label for="linkedin" class="form-label">Enlace Red Social 5</label>
    <input type="text" class="form-control" id="linkedin">
    <button type="button" class="btn btn-primary">Guardar</button>
    <button type="button" class="btn btn-danger">Cancelar</button>
  </div>
</form>