<form>
    <div class="my-3"> <!--Trabajo 1-->
      <label for="trabajoUno" class="form-label">Trabajo 1-Descripción</label>
      <textarea class="form-control" id="info" style="height: 100px;"></textarea>
      <button type="button" class="btn btn-primary">Guardar</button>
      <button type="button" class="btn btn-danger">Cancelar</button>
    </div>
    <div class="my-3">
      <label for="trabajoUno" class="form-label">Logo</label>
      <input class="form-control" type="file" id="trabajoUno">
      <button type="button" class="btn btn-primary">Guardar</button>
      <button type="button" class="btn btn-danger">Cancelar</button>
    </div>
    <!--Fin Trabajo 1-->
    <div class="my-3"> <!--Trabajo 2-->
      <label for="trabajoDos" class="form-label">Trabajo 2-Descripción</label>
      <textarea class="form-control" id="info" style="height: 100px;"></textarea>
      <button type="button" class="btn btn-primary">Guardar</button>
      <button type="button" class="btn btn-danger">Cancelar</button>
    </div>
    <div class="my-3">
      <label for="trabajoDos" class="form-label">Logo</label>
      <input class="form-control" type="file" id="trabajoDos">
      <button type="button" class="btn btn-primary">Guardar</button>
      <button type="button" class="btn btn-danger">Cancelar</button>
    </div>
    <!--Fin Trabajo 2-->
    <div class="my-3"> <!--Trabajo 3-->
      <label for="trabajoTres" class="form-label">Trabajo 3-Descripción</label>
      <textarea class="form-control" id="info" style="height: 100px;"></textarea>
      <button type="button" class="btn btn-primary">Guardar</button>
      <button type="button" class="btn btn-danger">Cancelar</button>
    </div>
    <div class="my-3">
      <label for="trabajoTres" class="form-label">Logo</label>
      <input class="form-control" type="file" id="trabajoTres">
      <button type="button" class="btn btn-primary">Guardar</button>
      <button type="button" class="btn btn-danger">Cancelar</button>
    </div>
    <!--Fin trabajo 3-->
  </form>