<!--MENU EDICION-->
<div class="row menu">
  <!--Barra vetical íconos edición-->
  <div class="col-1">
    <app-barvertical></app-barvertical>
  </div>
  <!--Fin Barra vertical de íconos edición-->
  <!--Editor de secciones-->
  <div class="col-11 mt-2">
    <div class="tab-content" id="nav-tabContent">
      <!--Redes-->
      <div class="tab-pane fade show active" id="list-redes" role="tabpanel" aria-labelledby="list-redes-list">
        <div class="container">
          <app-editredes></app-editredes>
        </div>
      </div>
      <!--Fin Edit Redes-->
      <!--Banner-->
      <div class="tab-pane fade" id="list-banner" role="tabpanel" aria-labelledby="list-banner-list">
        <div class="container">
          <app-editbanner></app-editbanner>
        </div>
      </div>
      <!--Fin Edit Banner-->
      <!--Info, Presentación-->
      <div class="tab-pane fade" id="list-info" role="tabpanel" aria-labelledby="list-info-list">
        <div class="container">
          <app-editinfo></app-editinfo>
        </div>
      </div>
      <!--Fin Edit Info, Presentación-->
      <!--Trabajo-->
      <div class="tab-pane fade" id="list-trabajo" role="tabpanel" aria-labelledby="list-trabajo-list">
        <div class="container">
          <app-edittrabajo></app-edittrabajo>
        </div>
      </div>
      <!--Fin Edit Trabajo-->
      <!--Educación-->
      <div class="tab-pane fade" id="list-educación" role="tabpanel" aria-labelledby="list-educación-list">
        <div class="container">
          <app-editeducacion></app-editeducacion>
        </div>
      </div>
      <!--Fin Edit Educación-->
      <!--Habilidades-->
      <div class="tab-pane fade" id="list-habilidades" role="tabpanel" aria-labelledby="list-habilidades-list">
        <div class="container">
          <app-editskills></app-editskills>
        </div>
      </div>
      <!--Fin Edit Habilidades-->
      <!--Proyecto-->
      <div class="tab-pane fade" id="list-proyectos" role="tabpanel" aria-labelledby="list-proyectos-list">
        <div class="container">
          <app-editproyecto></app-editproyecto>
        </div>
      </div>
      <!--Fin Edit Poyecto-->
    </div>
  </div>  <!--Fin Editor de secciones-->
</div> <!--FIN MENU EDICION-->