<ul class="list-group list-group-horizontal">
    <li class="list-group-item"><a href="https://www.facebook.com/yael.nemer" target="_blank"><i
          class="fa-brands fa-facebook text-white"></i></a></li>
    <li class="list-group-item"><a href="https://www.instagram.com/_yael_magali_/" target="_blank"><i
          class="fa-brands fa-instagram text-white"></i></a></li>
    <li class="list-group-item"><a href="https://twitter.com/Yael__90" target="_blank"><i
          class="fa-brands fa-twitter text-white"></i></a></li>
    <li class="list-group-item"><a href="https://github.com/YaelNmr" target="_blank"><i
          class="fa-brands fa-github text-white"></i></a></li>
    <li class="list-group-item"><a href="https://www.linkedin.com/in/yael-nemer-696b9a26a/" target="_blank"><i
          class="fa-brands fa-linkedin text-white"></i></a></li>
    <li class="list-group-item">
      <!-- Botón que envia al Login -->
      <a routerLink="/login"><i class="fa-solid fa-user text-white"></i></a>
    </li>
  </ul>