<form>
    <div class="row">
      <div class="col-6 my-3"> <!--Skill 1-->
        <label for="habilidadesUno" class="form-label">Habilidad 1</label>
        <input type="text" class="form-control" id="habilidadesUno">
        <button type="button" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-danger">Cancelar</button>
      </div>
      <div class="col-6 my-3">
        <label for="porcentajesUno" class="form-label">Porcentaje Habilidad 1</label>
        <input type="text" class="form-control" id="porcentajesUno">
        <button type="button" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-danger">Cancelar</button>
      </div>
    </div>
    <div class="row">
      <div class="col-6 my-3"> <!--Skill 2-->
        <label for="habilidadesDos" class="form-label">Habilidad 2</label>
        <input type="text" class="form-control" id="habilidadesDos">
        <button type="button" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-danger">Cancelar</button>
      </div>
      <div class="col-6 my-3">
        <label for="porcentajesDos" class="form-label">Porcentaje Habilidad 2</label>
        <input type="text" class="form-control" id="porcentajesDos">
        <button type="button" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-danger">Cancelar</button>
      </div>
    </div>
    <div class="row">
      <div class="col-6 my-3"> <!--Skill 3-->
        <label for="habilidadesTres" class="form-label">Habilidad 3</label>
        <input type="text" class="form-control" id="habilidadesTres">
        <button type="button" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-danger">Cancelar</button>
      </div>
      <div class="col-6 my-3">
        <label for="porcentajesTres" class="form-label">Porcentaje Habilidad 3</label>
        <input type="text" class="form-control" id="porcentajesTres">
        <button type="button" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-danger">Cancelar</button>
      </div>
    </div>
    <div class="row">
      <div class="col-6 my-3"> <!--Skill 4-->
        <label for="habilidadesCuatro" class="form-label">Habilidad 4</label>
        <input type="text" class="form-control" id="habilidadesCuatro">
        <button type="button" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-danger">Cancelar</button>
      </div>
      <div class="col-6 my-3">
        <label for="porcentajesCuatro" class="form-label">Porcentaje Habilidad 4</label>
        <input type="text" class="form-control" id="porcentajesCuatro">
        <button type="button" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-danger">Cancelar</button>
      </div>
    </div>
    <div class="row">
      <div class="col-6 my-3"> <!--Skill 5-->
        <label for="habilidadesCinco" class="form-label">Habilidad 5</label>
        <input type="text" class="form-control" id="habilidadesCinco">
        <button type="button" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-danger">Cancelar</button>
      </div>
      <div class="col-6 my-3">
        <label for="porcentajesCinco" class="form-label">Porcentaje Habilidad 5</label>
        <input type="text" class="form-control" id="porcentajesCinco">
        <button type="button" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-danger">Cancelar</button>
      </div>
    </div>
    <div class="row">
      <div class="col-6 my-3"> <!--Skill 6-->
        <label for="habilidadesSeis" class="form-label">Habilidad 6</label>
        <input type="text" class="form-control" id="habilidadesSeis">
        <button type="button" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-danger">Cancelar</button>
      </div>
      <div class="col-6 my-3">
        <label for="porcentajesSeis" class="form-label">Porcentaje Habilidad 6</label>
        <input type="text" class="form-control" id="porcentajesSeis">
        <button type="button" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-danger">Cancelar</button>
      </div>
    </div>
    <div class="row">
      <div class="col-6 my-3"> <!--Skill 7-->
        <label for="habilidadesSiete" class="form-label">Habilidad 7</label>
        <input type="text" class="form-control" id="habilidadesSiete">
        <button type="button" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-danger">Cancelar</button>
      </div>
      <div class="col-6 my-3">
        <label for="porcentajesSiete" class="form-label">Porcentaje Habilidad 7</label>
        <input type="text" class="form-control" id="porcentajesSiete">
        <button type="button" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-danger">Cancelar</button>
      </div>
    </div>
    <div class="row">
      <div class="col-6 my-3"> <!--Skill 8-->
        <label for="habilidadesOcho" class="form-label">Habilidad 8</label>
        <input type="text" class="form-control" id="habilidadesOcho">
        <button type="button" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-danger">Cancelar</button>
      </div>
      <div class="col-6 my-3">
        <label for="porcentajesOcho" class="form-label">Porcentaje Habilidad 8</label>
        <input type="text" class="form-control" id="porcentajesOcho">
        <button type="button" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-danger">Cancelar</button>
      </div>
    </div>
    <div class="row">
      <div class="col-6 my-3"> <!--Skill 9-->
        <label for="habilidadesNueve" class="form-label">Habilidad 9</label>
        <input type="text" class="form-control" id="habilidadesNueve">
        <button type="button" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-danger">Cancelar</button>
      </div>
      <div class="col-6 my-3">
        <label for="porcentajesNueve" class="form-label">Porcentaje Habilidad 9</label>
        <input type="text" class="form-control" id="porcentajesNueve">
        <button type="button" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-danger">Cancelar</button>
      </div>
    </div>
    <div class="row">
      <div class="col-6 my-3"> <!--Skill 10-->
        <label for="habilidadesDiez" class="form-label">Habilidad 10</label>
        <input type="text" class="form-control" id="habilidadesDiez">
        <button type="button" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-danger">Cancelar</button>
      </div>
      <div class="col-6 my-3">
        <label for="porcentajesDiez" class="form-label">Porcentaje Habilidad 10</label>
        <input type="text" class="form-control" id="porcentajesDiez">
        <button type="button" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-danger">Cancelar</button>
      </div>
    </div>
    <div class="row">
      <div class="col-6 my-3"> <!--Skill 11-->
        <label for="habilidadesOnce" class="form-label">Habilidad 11</label>
        <input type="text" class="form-control" id="habilidadesOnce">
        <button type="button" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-danger">Cancelar</button>
      </div>
      <div class="col-6 my-3">
        <label for="porcentajesOnce" class="form-label">Porcentaje Habilidad 11</label>
        <input type="text" class="form-control" id="porcentajesOnce">
        <button type="button" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-danger">Cancelar</button>
      </div>
    </div>
  </form>
