<form>
    <div class="my-3">
      <label for="proyecto" class="form-label">Foto Proyecto</label>
      <input class="form-control" type="file" id="proyecto">
      <button type="button" class="btn btn-primary">Guardar</button>
    <button type="button" class="btn btn-danger">Cancelar</button>
    </div>
    <div class="my-3">
      <label for="proyecto" class="form-label">Mí Proyecto-Descripción</label>
      <textarea class="form-control" id="info" style="height: 100px;"></textarea>
      <button type="button" class="btn btn-primary">Guardar</button>
    <button type="button" class="btn btn-danger">Cancelar</button>
    </div>            
    <div class="my-3">
      <label for="proyecto" class="form-label">Enlace proyecto</label>
      <input type="text" class="form-control" id="proyecto">
      <button type="button" class="btn btn-primary">Guardar</button>
    <button type="button" class="btn btn-danger">Cancelar</button>
    </div>             
  </form>
