<form>
    <div class="my-3"> <!--Estudio 1-->
      <label for="" class="form-label">Estudio 1-Descripción</label>
      <textarea class="form-control" id="info" style="height: 100px;"></textarea>
      <button type="button" class="btn btn-primary">Guardar</button>
      <button type="button" class="btn btn-danger">Cancelar</button>
    </div>
    <div class="my-3">
      <label for="educaciónUno" class="form-label">Logo</label>
      <input class="form-control" type="file" id="educaciónUno">
      <button type="button" class="btn btn-primary">Guardar</button>
      <button type="button" class="btn btn-danger">Cancelar</button>
    </div>
    <!--Fin estudio 1-->
    <div class="my-3"> <!-- Estudio 2-->
      <label for="educaciónDos" class="form-label">Estudio 2-Descripción</label>
      <textarea class="form-control" id="info" style="height: 100px;"></textarea>
      <button type="button" class="btn btn-primary">Guardar</button>
      <button type="button" class="btn btn-danger">Cancelar</button>
    </div>
    <div class="my-3">
      <label for="educaciónDos" class="form-label">Logo</label>
      <input class="form-control" type="file" id="educaciónDos">
      <button type="button" class="btn btn-primary">Guardar</button>
      <button type="button" class="btn btn-danger">Cancelar</button>
    </div>
    <!--Fin estudio 2-->
    <div class="my-3"> <!--Estudio 3-->
      <label for="educaciónTres" class="form-label">Estudio 3-Descripción</label>
      <textarea class="form-control" id="info" style="height: 100px;"></textarea>
      <button type="button" class="btn btn-primary">Guardar</button>
      <button type="button" class="btn btn-danger">Cancelar</button>
    </div>
    <div class="my-3">
      <label for="educaciónTres" class="form-label">Logo</label>
      <input class="form-control" type="file" id="educaciónTres">
      <button type="button" class="btn btn-primary">Guardar</button>
      <button type="button" class="btn btn-danger">Cancelar</button>
    </div>
    <!--Fin estudio 3-->
  </form>