<!--Sección Educación-->
<section class="educacion mt-4">
    <div class="container">
      <div class="row">
        <h2 class="text-center">Estudios</h2>
        <!-- Tarjeta Argentina Programa -->
        <div class="col-md-4 card-container">
          <div class="card front">
            <img src="../assets/img/MINIATURA-ARGEPROGR.jpg" alt="logo-argpro" class="card-img-top img-fluid">
            <div class="card-block">
              <h5 class="card-title"><strong>Argentina Programa: 4ta edición.</strong></h5>
              <p class="card-text">#SéProgramar. #YoProgramo. <br>
                Desarrollo Web Full Stack Jr.</p>
            </div>
          </div>
        </div>
        <!-- Fin de tarjeta Argentina Programa -->
  
        <!-- Tarjeta Olga Cossettini-->
        <div class="col-md-4 card-container">
          <div class="card front">
            <img src="../assets/img/instituto.jpg" alt="logo-instituto" class="card-img-top img-fluid">
            <div class="card-block">
              <h5 class="card-title"><strong>Instituto de Educación Superior N.º 28 "Olga Cossettini”.</strong></h5>
              <p class="card-text">Profesorado de inglés. (2012).</p>
            </div>
          </div>
        </div>
        <!-- Fin tarjeta Olga Cossettini-->
  
        <!-- Tarjeta EET 638 -->
        <div class="col-md-4 card-container">
          <div class="card front">
            <img src="../assets/img/638.png" alt="logo-eet638" class="card-img-top img-fluid">
            <div class="card-block">
              <h5 class="card-title"><strong>Escuela de Educación Secundaria Técnica Profesional Nº 638 “Margarita Mazza
                  de Carlés.”</strong></h5>
              <p class="card-text">Título: "Economía y Gestión de las Organizaciones". (2004-2008).</p>
            </div>
          </div>
        </div>
        <!-- Fin tarjeta EET 638-->
      </div>
    </div>
  </section>
  <hr>