<form>
    <div class="my-3">
      <label for="info" class="form-label">Acerca de Mí</label>
      <textarea class="form-control" id="info" style="height: 100px;"></textarea>
      <button type="button" class="btn btn-primary">Guardar</button>
      <button type="button" class="btn btn-danger">Cancelar</button>
    </div>
    <div class="my-3">
      <label for="info" class="form-label">Foto perfil</label>
      <input class="form-control" type="file" id="info">
      <button type="button" class="btn btn-primary">Guardar</button>
      <button type="button" class="btn btn-danger">Cancelar</button>
    </div>
</form>
