<form>
  <div class="my-3">
    <label for="banner" class="form-label">Img banner</label>
    <input class="form-control" type="file" id="banner">
    <button type="button" class="btn btn-primary">Guardar</button>
    <button type="button" class="btn btn-danger">Cancelar</button>
  </div>
  <div class="my-3">
    <label for="info" class="form-label">Texto-Saludo</label>
    <textarea class="form-control" id="info" style="height: 100px;"></textarea>
    <button type="button" class="btn btn-primary">Guardar</button>
    <button type="button" class="btn btn-danger">Cancelar</button>
  </div>
</form>