<!--Sección Proyectos-->
<section class="proyectos mt-4">
    <div class="container">
      <h2 class="text-center">Proyectos</h2>
      <div class="cuadro-proyecto">
        <div class="card text-bg-dark mb-3" style="width: 18rem;">
          <img src="../assets/img/proyecto1.jpg" class="card-img-top" alt="mi-proyecto">
          <div class="card-body">
            <h5 class="card-title">Mí Proyecto.</h5>
            <p class="card-text">Muestra de mí portfolio como parte del proyecto final
              integrador del curso "Argentina Programa #YoProgramo".</p>
            <a href="https://github.com/YaelNmr/ProyectoFinal.git" target="_blank" class="btn btn-primary">Click acá</a>
          </div>
        </div>
      </div>
    </div>
  </section>