<!--Sección Experiencia Laboral-->
<section class="experiencia mt-4">
    <div class="container">
      <div class="row">
        <h2 class="text-center">Experiencia Laboral</h2>
        <div class="col-md-4 card-container" *ngFor="let trabajo of trabajos">
          <div class="card front">
            <img [src]="trabajo.imagen" alt="kuma-logo" class="card-img-top img-fluid">
            <div class="card-block">
              <h4 class="card-title"><strong>{{trabajo.nombre}}</strong>
                <h6>{{trabajo.inicioyFin}}</h6>
              </h4>
              <p class="card-text"><strong>{{trabajo.puesto}}</strong>: {{trabajo.descripcion}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br>
