<!--Sección Experiencia Laboral-->
<section class="experiencia mt-4">
    <div class="container">
      <div class="row">
        <h2 class="text-center">Experiencia Laboral</h2>
        <!-- Tarjeta Kuma -->
        <div class="col-md-4 card-container">
          <div class="card front">
            <img src="../../../assets/img/logo kuma 1.jpg" alt="kuma-logo" class="card-img-top img-fluid">
            <div class="card-block">
              <h4 class="card-title"><strong>Kuma Rosario:</strong>
                <h6>2017-Presente.</h6>
              </h4>
              <p class="card-text">Cofundadora. Sublimaciones personalizadas. Me encargo de diseñar, tomar pedidos,
                ventas, entregas y manejo de redes sociales. Máquinas que uso: planchas termoestampadoras de remeras y
                tazas, impresora con tintas especiales para sublimación, plotter de corte.</p>
            </div>
          </div>
        </div>
        <!-- Fin de tarjeta Kuma -->
  
        <!-- Tarjeta Atención al cliente-->
        <div class="col-md-4 card-container">
          <div class="card front">
            <img src="../../../assets/img/closed-cartel.jpg" alt="foto-cartel" class="card-img-top img-fluid">
            <div class="card-block">
              <h4 class="card-title"><strong>Atención al cliente:</strong></h4>
              <p class="card-text"><strong>DVD Show.</strong> Alquiler de películas (2014). Empleada a cargo de
                atender el videoclub.</p>
              <p class="card-text"><strong>Dietética JMA.</strong> (2011). Empleada a cargo de atender la
                dietética con turnos rotativos.</p>
            </div>
          </div>
        </div>
        <!-- Fin tarjeta Atención al cliente-->
  
        <!-- Tarjeta Más experiencias -->
        <div class="col-md-4 card-container">
          <div class="card front">
            <img src="../../../assets/img/trabajo.png" alt="work-foto" class="card-img-top img-fluid">
            <div class="card-block">
              <h4 class="card-title"><strong>Más experiencias:</strong></h4>
              <p class="card-text"><strong>Niñera y tareas de cuidado.</strong>(2012, 2013, 2015, 2016). Durante
                varios períodos de tiempo, trabajé haciendo tareas del hogar y cuidando niños y niñas en casas
                particulares.</p>
              <p class="card-text"><strong>Clases particulares de inglés.</strong>(2009 a 2018). En mí casa daba clases
                de apoyo de inglés para alumnos de nivel primario y secundario.</p>
            </div>
          </div>
        </div>
        <!-- Fin tarjeta Más experiencias-->
      </div>
    </div>
  </section>
  <br>