<!--Sección Presentación-->
<section class="presentacion mt-5">
    <div class="container text-center">
      <div class="row">
        <div class="col-3">
          <img src="../../../assets/img/pic4.jpg" alt="foto-yael" class="rounded-circle img-fluid">
        </div>
        <div class="col-9 mt-4">
          <div class="acerca-de">
            <h2><i>Acerca de mí</i></h2>
            <p>
              Me considero una persona autodidacta. Me encanta aprender cosas nuevas, leer, investigar, sumar
              conocimientos.
              Desde muy chica estoy inmersa en el mundo de la informática y la tecnología porque amo los videojuegos y
              la PC.
              Trabajo como diseñadora, Social Media Manager y Community Manager en mí emprendimiento de sublimaciones.
              Con respecto a la programación, gracias a Argentina Programa se me abrió la puerta a un mundo
              completamente distinto y me encanta.
              Siempre busco sumar habilidades para seguir creciendo y progresando en todo ámbito.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr>